.info-background {
  background-color: #dad6d6;
}
.editor-background {
  background-color: #dad6d6;
}

.input-cosmetics {
  font-size: 12px;
  width: 300px;
}

.btn-cosmetics {
  font-size: 15px;
  width: 35px;
  padding: 0;
  height: 35px;
  background-color: white;
  color: #004ab3;
  border: 2px solid #004ab3;
}

.btn-cosmetics:hover {
  color: white;
  background-color: #004ab3;
}
