.default-icon {
  // margin: auto;
  font-size: 25px;
  // line-height: 50px;
  color: #004ab3;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 2px;
  border: 2px solid #004ab3;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.default-icon:hover {
  background-color: #004ab3;
  color: white;
}