.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-view {
  margin: 10px;
}

.card-delete-button {
  display: none;
  left: -10px;
  top: -8px;
  background-color: white;
  border: solid black 1px;
  width: 20px;
  height: 20px;
}

.card-add-button {
  display: none;
  left: -10px;
  bottom: -5px;
  background-color: white;
  border: solid black 1px;
  width: 20px;
  height: 20px;
}



.card-view:hover  .card-add-button {
  display: block;
  cursor: pointer;
}
.card-view:hover  .card-delete-button {
  display: block;
  cursor: pointer;
}

.index h1 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}