.rating {
  background-color: white;
}

.rating {
  .progress-bar {
    background-color: #004ab3
  }
}

.rating-editor-btn {
  width: 55px;
  height: 40px;
  margin-left: 5px;
  background-color: white;
  color: #004ab3;
  font-size: 20px;
}

.rating-editor-star-btn {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.rating-container {
  width: 83%;
}