.rating {
  background-color: white;
}

.rating {
  .progress-bar {
    background-color: #dd3b1f
  }
}

.rating-editor-btn {
  width: 55px;
  height: 45px;
  margin-left: 5px;
  background-color: white;
  color: #5a6268;
  font-size: 20px;

  .progress-bar {
    background-color: #5a6268;
  }
}
.rating-editor-input {
  font-size: 14px;
  height: 23px !important;
  width: 75px !important;
  padding-left: 4px;
}

.rating-editor-star-btn {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.rating-container {
  width: 83%;
  margin-top: -5px;
}