.infoitem-default {
  min-height: 100px;
  background-color: #ebeff2;
  font-family: 'Oswald', sans-serif;
  margin-right: 10px;
}

.infoeditor-default {
  background-color: #ebeff2;
  font-size: 14px !important;
  margin: 2px;
  border: 2px solid #bdbdc0;
  border-radius: 5px;
}