$headerHeight: 70px;

.info-body-header {
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: #282b34;
  border-bottom: 1px solid #f2f4f9;
  box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  z-index: 1000;
}

.header-line-height {
  line-height: $headerHeight;
}

.header-name-container {
  // line-height: 70px;
  font-size: 30px;
}

.header-icon {
  color: #dd3b1f;
}

.preview-btn {
  height: 44px !important;
  width: 44px !important;
  background-color: #282b34 !important;
}

.preview-btn-container {
  .active {
    background-color: rgb(156, 153, 153) !important;
  }
}