.settings-panel-container {
  min-height: 100vh;
  overflow-y: scroll;
  width: 245px;
  top: 0px;
  transition: all 0.2s ease-in-out;
}

.theme-container {
  width: 150px;
  height: 250px;
  background-color: olive;
  border: 2px solid #dd3b1f;
  border-radius: 3px;
  // margin-left: 45px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
  svg {
    cursor: pointer;
  }
}

.settings-btn {
  width: 45px;
  height: 45px;
  top: 120px;
  // right: 200px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #dd3b1f;
  z-index: 4000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }
}

.theme-demo {
  font-family: 'Oswald', sans-serif;
}

.demo-progress {
  height: 5px;
}